@import '~antd/dist/antd.css';

.flex-container {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.matrix-cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}