@import '~antd/dist/antd.css';

body {
    background: #ededed;
    overflow: hidden;
}

.flex-container {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.row-flex-center {
    display: flex;
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-around {
    display: flex;
    justify-content: space-around;
}


.matrix-cell {
    height: 42px;
    width: 60px;
    border: 1px solid #000000;
    text-align: center;
}

.full-height-vh {
    height: 100vh;
}

.full-height-pc {
    height: 100%;
}

.full-width {
    width: 100%;
}


.flex-grow-1 {
    flex-grow: 1;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.matrix {
    background: white;
    box-shadow: 0 0 5px 5px #0000001a;
    padding: 16px;
    border-radius: 5px;
    width: 500px;
    height: 500px;
}

.konvajs-content {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px #0000001a;
}

.controls {
    background: white;
    box-shadow: 0 0 5px 5px #0000001a;
    padding: 16px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0 10%;
    /*transform: translate(-50%, 0);*/
}

.highlighter {
    background: white;
    box-shadow: 0 0 5px 5px #0000001a;
    padding: 16px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 35%;
    /*transform: translate(-50%, 0);*/
}

.shadow {
    box-shadow: 0 0 5px 5px #0000001a;
}

.margin-bottom-xs {
    margin-bottom: 7px;
}

.margin-bottom-lg {
    margin-bottom: 32px;
}

.padding {
    padding: 16px;
}

.rounded {
    border-radius: 4px;
}


.ant-btn {
    width: 210px;
}

.ant-select {
    width: 200px;
}

.margin-right-lg {
    margin-right: 30px;
}

.matrix-canvas {
    /*height: 90%;*/
    /*width: 80%;*/
    margin: auto;
}

@media (max-width: 1366px) {

    .matrix-canvas {
        height: 85%;
        width: 100%;
    }

    .controls {
        bottom: 18px;
    }
}


